body {
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
}

img {
    border-radius: 25px;
}

header {
    margin-top: 50px;
}

.dark {
    background-color: #303030;
    color: #f1eded;
}

.dark #navbar {
    filter: invert(80%);
}

.dark #card {
    filter: invert(80%);
}

.dark img {
    filter: invert(80%);
}

.dark #header img {
    filter: invert(0%);
}